		/*MAIN-FORM*/

.main-form {
	display: flex;
	flex-direction: column;
}


.main-form-title {
	margin-left: 15px;
	font-size: 14px;
	line-height: 20px;
}

		/*USER-FORM*/

.user-form {
	padding-left: 30px;
}

.user-form-items {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.user-form-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.user-form-item:last-child {
	margin-bottom: 0;
}

.user-form-item > *:not(.field-items):first-child {
	display: flex;
	justify-content: flex-end;
	flex-basis: 180px;
	margin-right: 20px;
}

.user-form-item > *:not(.field-items):last-child {
	flex-basis: 300px;
	height: 30px;
}

.user-form-input {
	height: 30px;
}

.field-items {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.field-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.field-item:first-child *:first-child {
	display: flex;
	justify-content: flex-end;
	width: 180px;
	margin-right: 20px;
}

.user-form-subscription {
	display: flex;
	justify-content: flex-end;
	flex-basis: 180px;
	margin-right: 20px;
	text-align: right;
}

.field-item:first-child {
	margin-right: 20px;
}

.field-item:nth-child(2n) {
	margin-right: 30px;
}

.field-item:nth-child(2n) *:nth-child(2) {
	width: 100px;
}

.field-item:nth-child(3n) *:nth-child(2) {
	width: 60px;
}

		/*WRAPPER-LIST-CHOICE*/

.wrapper-list-choice {
	margin-left: 60px;
	margin-bottom: 50px;
}


		/*USER-FORM-ACTIVITIES*/

.activities-items {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.activities-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}


		/* DEFAULT SETTINGS */

* {
	box-sizing: border-box;
}

html, body, form {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	background-color: #ffffff;
}

ul, li {
	margin: 0;
	padding: 0;
}