		/*MAIN-FORM*/

.main-form {
	display: flex;
	flex-direction: column;
}


.main-form-title {
	margin-left: 15px;
	font-size: 14px;
	line-height: 20px;
}

		/*USER-FORM*/

.user-form {
	padding-left: 30px;
}

.user-form-items {
	display: flex;
	flex-direction: column;
	list-style: none;
}


		/*WRAPPER-LIST-CHOICE*/

.wrapper-list-choice {
	margin-left: 60px;
	margin-bottom: 50px;
}


		/* DEFAULT SETTINGS */

* {
	box-sizing: border-box;
}

html, body, form {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	background-color: #ffffff;
}

ul, li {
	margin: 0;
	padding: 0;
}