		/*MAIN-HEADER*/

.main-header {
	margin-bottom: 20px;
	padding: 10px 0 0;
	color: #283136;
	background-color: #eeeeee;
}

.main-navigation {
	width: 1160px;
	padding-left: 15px;
}

.navigation-items {
	margin: 0;
	margin-top: 15px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.navigation-item {
	display: inline-block;
	margin: 0;
	margin-right: 37px;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.navigation-item-link {
	display: block;
	min-width: 40px;
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.navigation-item-link:not(.link-active):hover {
	color: #fb565a;
}

.navigation-item-link:active {
	opacity: 0.3;
}

.link-active {
	padding-bottom: 3px;
	border-bottom: 2px solid #fb565a;
}


		/*MAIN-FORM*/

.main-form {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}


.main-form-title {
	margin-left: 15px;
	font-size: 14px;
	line-height: 20px;
}

		/*USER-FORM*/

.user-form {
	padding-left: 30px;
}

.user-form-title {
	font-size: 14px;
	line-height: 20px;
}


.user-form-items {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.user-form-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.user-form-item:last-child {
	margin-bottom: 0;
}

.user-form-item > *:not(.field-items):first-child {
	display: flex;
	justify-content: flex-end;
	flex-basis: 180px;
	margin-right: 20px;
}

.user-form-item > *:not(.field-items):last-child {
	flex-basis: 300px;
	height: 30px;
}

.user-form-input {
	height: 30px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.user-form-input:hover {
	border: 2px solid #cccccc;
	border-radius: 2px;
}

.user-form-input:focus {
	border: 0;
	outline: 2px solid #5b9ddf;
}

.user-form-input:invalid {
  border-color: red;
}

.field-items {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.field-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.field-item:first-child *:first-child {
	display: flex;
	justify-content: flex-end;
	width: 180px;
	margin-right: 20px;
}

.user-form-subscription {
	display: flex;
	justify-content: flex-end;
	flex-basis: 180px;
	margin-right: 20px;
	text-align: right;
}

.field-item:first-child {
	margin-right: 20px;
}

.field-item:nth-child(2n) {
	margin-right: 30px;
}

.field-item:nth-child(2n) *:nth-child(2) {
	width: 100px;
}

.field-item:nth-child(3n) *:nth-child(2) {
	width: 60px;
}

		/*WRAPPER-LIST-CHOICE*/

.wrapper-list-choice {
	margin-left: 60px;
	margin-bottom: 50px;
}

.list-choice-title {
	font-size: 14px;
	line-height: 20px;
}

.list-choice {
	list-style: none;
}


		/*USER-FORM-ACTIVITIES*/

.user-form-activities {
	margin-bottom: 20px;
}

.activities-items {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.activities-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}


.user-form-submit {
	min-width: 200px;
	height: 30px;
	padding: 5px;
	color: #ffffff;
	cursor: pointer;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgb(10, 104, 193) 47%, rgb(0, 42, 144));
	border: 0;
	border-radius: 5px;
}


		/* DEFAULT SETTINGS */

* {
	box-sizing: border-box;
}

html, body, form {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	background-color: #eeeeee;
}

ul, li {
	margin: 0;
	padding: 0;
}

[hidden] {
  display: none;
}